echo psycopg2-binary > requirements.txt
echo beautifulsoup4 >> requirements.txt
echo requests >> requirements.txt
echo lxml >> requirements.txt
echo undetected-chromedriver >> requirements.txt
echo selenium >> requirements.txt
echo APScheduler >> requirements.txt
echo aiohttp >> requirements.txt
